# MariaDB
MYSQL_DATABASE=dockerphp
MYSQL_ROOT_PASSWORD=password

# Xdebug
XDEBUG_DEFAULT_ENABLE=1
XDEBUG_REMOTE_AUTOSTART=1
XDEBUG_REMOTE_CONNECT_BACK=1
XDEBUG_REMOTE_PORT=9000
XDEBUG_REMOTE_ENABLE=1
XDEBUG_REMOTE_LOG=/srv/logs/
XDEBUG_IDEKEY=www-data

# Opcache
OPCACHE_ENABLE=1
OPCACHE_REVALIDATE_FREQ=0
OPCACHE_VALIDATE_TIMESTAMPS=1
OPCACHE_MAX_ACCELERATED_FILES=10000
OPCACHE_MEMORY_CONSUMPTION=192
OPCACHE_MAX_WASTED_PERCENTAGE=10
OPCACHE_INTERNED_STRINGS_BUFFER=16
OPCACHE_FAST_SHUTDOWN=1

# APP
APP_URL=http://api.localhost:8080
APP_NAME=localhost
APP_DEBUG=true
APP_NPM_RUN_MODE=hot
API_URL=http://api.localhost:18080/
HOT_URL=http://localhost:8080/
APP_LOCALE=nl_BE
